.container {
  .nav-left {
    min-width: 180px;
    height: calc(100%);
  }

  .main {
    height: calc(100%);
    background: whitesmoke;

    .content {
      padding: 0 20px 20px 20px;

      div {
        width: calc(100%);
        margin-top: 10px;
      }
    }
  }
}